/********** Main Header *************/

.mainHeader {
  text-transform: uppercase;
  text-align: center;
  margin: 2.5rem 1rem 1rem;
  padding: 1rem 3rem;
  border-bottom: 3px solid #00B1FF;
}

.mainHeader h3 {
  font-size: 1.5rem;
}

/********** Sub Header *************/

.subHeader {
  text-transform: capitalize;
  text-align: left;
  margin: 0.2rem 0rem;
  padding: 0.2rem 2rem;
  border-bottom: 3px solid #00B1FF;
}

/********** Mini Header **************/
.miniHeader {
  text-transform: uppercase;
  text-align: center;
  margin: 5rem 1rem 3rem;
  padding: 1rem 3rem;
  border-bottom: 3px solid #00B1FF;

}

/********** Large Button *************/

.largeButton {
  height: 20vh;
  width: 50%;
  color: rgba(0,0,0,0.9);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 400;
}

.optionsBar {
  margin: 3rem 0;
  align-items: center;
  text-align: center;
}

.links a {
  text-decoration: none;
}

.links a:link, a:visited {
  background-color: rgba(0,0,0,0.6);
  text-decoration: none;
}

.links a:visited {
  background-color: rgba(0,0,0,0.6);
}

/*********** Student Forms *************/
/* Tabs */
.tabs a:active {
  background-color: #CFF0FF !important;
}

.studentInfoForm {
  padding: 5% 10%;
}

.studentInfoFormContainer {
  height: 60vh;
  overflow-y: auto;
}

/************ Summary Stats ***********/

.summaryStatCard {
  padding: 10% 2%;
  /* width: fit-content; */
}

.summaryStatValue {
  font-size: 3.5rem;
  color: #F99F1C;
  font-kerning: none;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

.summaryStatDesc {
  margin-top: auto;
  margin-bottom: auto;
  color: #000000;
  font-size: 2rem;
}

/*********** Current School Period Bar *************/

.period {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

.periodTitle {
  font-weight: 500;
}

.periodValue {
  font-weight: 400;
}

/*********** Data Table *************/

.dataTable{
  font-size: medium;
}

 /** For different screens **/
@media only screen and (max-width: 1300px) {
  .largeButton {
    width: 70%;
  }
}
