/********** Main Header *************/

.mainHeader {
  text-transform: uppercase;
  text-align: center;
  margin: 2.5rem 1rem 1rem;
  padding: 1rem 3rem;
  border-bottom: 3px solid #00B1FF;
}

/********** Sub Header *************/

.subHeader {
  text-transform: capitalize;
  text-align: left;
  margin: 0.2rem 0rem;
  padding: 0.2rem 2rem;
  border-bottom: 3px solid #00B1FF;
}

/********** Large Button *************/

.largeButton {
  height: 20vh;
  width: 25vw;
  color: rgba(0,0,0,0.9);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 400;
  border: 2px solid rgba(0,0,0,0.6);
  border-radius: 5px;
}

.links a {
  text-decoration: none;
}

.links a:link, a:visited {
  background-color: rgba(0,0,0,0.6);
  text-decoration: none;
}

.links a:visited {
  background-color: rgba(0,0,0,0.6);
}

/*********** Student Forms *************/
/* Tabs */
.tabs a:active {
  background-color: #CFF0FF !important;
}

.studentInfoForm {
  padding-top: 2%;
  height: 60vh;
  background-color: rgba(12, 110, 223, 0.1);
}

/************ Summary Stats ***********/

.summaryStatCard {
  padding: 10% 2%;
  /* width: fit-content; */
}

.summaryStatValue {
  font-size: 3.5rem;
  color: #F99F1C;
  font-kerning: none;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

.summaryStatDesc {
  margin-top: auto;
  margin-bottom: auto;
  color: #000000;
  font-size: 2rem;
}

/*********** Current School Period Bar *************/

.period {
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.periodTitle {
  font-weight: 500;
}

.periodValue {
  font-weight: 400;
}

/*********** Data Table *************/

.dataTable{
  font-size: medium;
}