.sideNav {
  border-right: 1px solid black;
  height: 100vh;
}

.navItems {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  border: 1px solid rgba(40,40,40, 0.5);
  border-radius: .3rem;
}

.navItems a {
  color: black;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.logo {
  text-align: center;
  height: 10vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.logo a.nav-link {
  color: black important!;
}