.sideNav {
  border-right: 1px solid black;
  height: 100vh;
}

.navItems {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  border: 1px solid rgba(40,40,40, 0.5);
  border-radius: .3rem;
}

.navItems a {
  color: black;
  font-size: 2vh;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.logo {
  font-size: 3vw;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  height: 10vh;
  line-height: 7vh;
  margin-top: 10vh;
  margin-bottom: 13vh;
  width: 100%;
}

h2.logo a {
  color: black;
}