.period {
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.periodTitle {
  font-weight: 500;
}

.periodValue {
  font-weight: 400;
}

.optionsBar {
  padding: 5rem;
  align-items: center;
  text-align: center;
}

/************* Page SubSection *************/

.subSection {
  padding: 0.5rem 2rem;
  align-items: center;
}


/************* Page Body Container *************/
.pageBody {
  padding: 0.5rem 5rem;
  align-items: center;
}